@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */



/* Description */

.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 100px 0 0 0;
  width: 80%;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin: 0;
}

.two-columns__paragraph {
  margin: 0 0 34px 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 12px;
}

/*   techniques   */

.techniques{
  width: 80%;
  margin: 0 auto 100px auto;
  border: red 1px solid;
}

.cards{
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto 0 auto;
  list-style: none;
  padding: 0;
}


.cards__item{
  width: 250px;
  margin: 60px 0 60px 100px;

}

.cards__image{
  width: 160px;
  height: 160px;
  margin: 0 40px 0 40px;
  border-radius: 100px;
}

.cards__title{
  margin: 43px 0 16px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.cards__description{
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}
/*   video   */

.video{
  border: red 1px solid;
}

.video__iframes{
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
}

.video__iframe{
  margin: 50px 20px 0 0;
}

/*   oakley   */
.oakley{
  margin: 0;
  padding: 160px 0 100px 0;
  background-color: #f2f2f2;
  border: red 1px solid;
}

/*  Digits  */

.digits {
  margin: 100px 0 100px 0;
  background-color: white;
  border: red 1px solid;
}

.section-title {
  margin: 0 auto 20px auto;
  width: 60%;
  bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.section-subtitle {
  margin: 0 auto 0 auto;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto 0 auto;
  list-style: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*   khan   */

.khan{
  padding: 0 100px 0 100px;
  border: red 1px solid;
  background-color: #f2f2f2;
}

.khan__container{
  width: 80%;
  margin: 0 auto 0;
  padding-top: 105px;
  background-color: #f2f2f2;
}

.khan__author{
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title{
  margin-bottom: 50px;
  line-height: 1.15px;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote{
  width: 790px;
  margin: 0 0 36px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.khan__quote-author{
  margin: 0 0 10px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline{
  margin: 0 0 68px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container{
  display: flex;
  justify-content: flex-start;
}

.khan__book-pic{
  background-image: url("../images/khan-book.jpg");
  width: 608px;
  height: 620px;
  margin: 0 48px 0 0;
}

.khan__buy-link{
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 0.65;
  transition: ease-in;
}

/*Метод Фейнмана*/

.feynman {
  min-height: 890px;
  position: relative;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  margin: 0;
  border: red 1px solid;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;

}

/*Выучить и не забыть*/
.feynman__subtitle {
  margin: 70px auto 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__link:hover {
  opacity: 0.65;
  transition: ease-in;
}
/*Кауфман*/

.kaufman {
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 90px 0 90px 0;
  overflow: hidden;
}

/*Принципы обучения*/
.section-title_theme_dark {
  color: white;
}

/*от Джоша Кауфмана*/
.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  margin: 0 auto 0 auto;
  padding: 0;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url("../images/kaufman-triangle.svg");
  background-size: cover;
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
}

/*   recources   */

.recources{
margin: 100px 0 0 0;
}

.recources__logo-zone{
  margin: 80px auto 217px auto;
  display: flex;
  justify-content: space-between;
  width: 1100px;
}

.recources__link{
  width: 270px;
  height: 38px;
}
.recources__link:hover {
  opacity: 0.65;
  transition: ease-in;
}

/* Footer */
.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  padding: 60px 0 40px 0;
  display: flex;
  box-sizing: border-box;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: white;
}

.footer__column_content_copyright {
  justify-content: space-between;
}

/*Автор*/
.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
}

/*О Практикуме*/
.footer__column-heading {
  color: white;
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.footer__column-links {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  flex-direction: column;
  justify-content: right;
  display: flex;
  margin-bottom: 16px;
}

.footer__column_content_social {
}

/*Соцсети*/
.footer__column-link {
  color: white;
  text-decoration: none;
  flex-direction: column;
  justify-content: space-between;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}







